name: Windows-RDP-Safe

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 1. Instalar Ngrok
        run: |
          choco install ngrok
          
      - name: 2. Autenticar Ngrok
        run: |
          ngrok authtoken ${{ secrets.NGROK_AUTH_TOKEN }}

      - name: 3. Configurar Windows y RDP
        run: |
          $password = "Pass12345!"
          net user runneradmin $password
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1

      - name: 4. Iniciar Tunel Ngrok
        run: |
          Start-Process ngrok -ArgumentList "tcp 3389"
          Start-Sleep -Seconds 5

      - name: 5. Obtener Direccion de Conexion
        shell: powershell
        run: |
          $url = ""
          Write-Host "Buscando tunel activo..."
          
          for ($i=1; $i -le 20; $i++) {
            try {
              $response = Invoke-RestMethod -Uri "http://127.0.0.1:4040/api/tunnels"
              $url = $response.tunnels[0].public_url
              
              if ($url) {
                $clean_url = $url.Replace("tcp://", "")
                Write-Host "=========================================="
                Write-Host "CONEXION EXITOSA"
                Write-Host "DIRECCION RDP: $clean_url"
                Write-Host "USUARIO: runneradmin"
                Write-Host "PASSWORD: Pass12345!"
                Write-Host "=========================================="
                return 
              }
            } catch {
              Write-Host "Esperando Ngrok... (Intento $i/20)"
            }
            Start-Sleep -Seconds 5
          }

          Write-Error "ERROR: No se pudo obtener la URL."
          exit 1

      - name: 6. Mantener Sesion Viva
        run: |
          Write-Host "Sesion RDP activa por 6 horas."
          $timeout = 360
          for ($i=1; $i -le $timeout; $i++) {
             Write-Host "Minuto $i de $timeout..."
             Start-Sleep -Seconds 60
          }
